body,
html {
  height: 100%;
  color: $grey;
  font-size: $sm;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: normal;
  p {
    font-family: "Slabo 27px", serif;
  }
  a {
    text-decoration: none !important;
  }
  h1,
  h2 {
    color: $dark;
    font-weight: bold !important;
    font-style: normal;
  }
  h3,
  h4,
  h5 {
    color: $dark-grey;
    font-weight: normal !important;
    font-style: normal;
  }
}
